<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/profile-client"></ion-back-button>
    </ion-buttons>
    <ion-title>Parcheggio auto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item style="margin-top: 20px">
    <ion-card-subtitle align="center">La tua auto è parcheggiata in <strong>ZONA A, posto 21</strong></ion-card-subtitle>
  </ion-item>

  <ion-slides [options]="sliderOpts" zoom="" style="height: 350px">
    <ion-slide >
      <div class="swiper-zoom-container">
        <img src="../../../assets/images/mappa-parcheggio-1.jpg">
      </div>
    </ion-slide>
  </ion-slides>

  <ion-footer class="fixed">
    <ion-toolbar>
      <app-home></app-home>
    </ion-toolbar>
  </ion-footer>

</ion-content>
