<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/profile-client"></ion-back-button>
    </ion-buttons>
    <ion-title>Carte fedeltà</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <h3 style="text-align: center">Vuoi aggiungere una nuova carta?</h3>
  <ion-button shape="round" routerLink="/aggiungi-carta" expand="full" style="padding-left: 20px; padding-right: 20px">Clicca per aggiungere</ion-button>



  <ion-card>
    <ion-item>
      <ion-label>CONAD</ion-label>
      <ion-button fill="outline" slot="end" routerLink="/dettagli-carta/CONAD">Apri</ion-button>
    </ion-item>
    <ion-card-content>
      <ion-img src="../../../assets/carte/conad.png"></ion-img>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-label>DECATHLON</ion-label>
      <ion-button fill="outline" slot="end" routerLink="/dettagli-carta/DECATHLON">Apri</ion-button>
    </ion-item>
    <ion-card-content>
      <ion-img src="../../../assets/carte/decathlon.png"></ion-img>
    </ion-card-content>
  </ion-card>


  <ion-footer class="fixed">
    <ion-toolbar>
      <app-home></app-home>
    </ion-toolbar>
  </ion-footer>

</ion-content>
