<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/profile-client"></ion-back-button>
    </ion-buttons>
    <ion-title>mieCarte</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-item>
      <ion-icon name="receipt-outline"></ion-icon>
      <ion-label>AGGIUNGI</ion-label>
      <ion-button fill="outline" slot="end" routerLink="/aggiungi-carta">Clicca per aggiungere</ion-button>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-icon name="receipt-outline"></ion-icon>
      <ion-label>CONAD</ion-label>
      <ion-button fill="outline" slot="end" routerLink="/dettagli-carta/CONAD">Apri</ion-button>
    </ion-item>
    <ion-card-content>
      <ion-img src="../../../assets/carte/conad.png"></ion-img>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-icon name="receipt-outline"></ion-icon>
      <ion-label>DECATHLON</ion-label>
      <ion-button fill="outline" slot="end" routerLink="/dettagli-carta/DECATHLON">Apri</ion-button>
    </ion-item>
    <ion-card-content>
      <ion-img src="../../../assets/carte/decathlon.png"></ion-img>
    </ion-card-content>
  </ion-card>



</ion-content>
