<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/client"></ion-back-button>
    </ion-buttons>
    <ion-title>Offerte</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>
            <ion-icon name="newspaper-outline" size="large" slot="start"></ion-icon>
            <strong>
              Offerta Volantino
            </strong>
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-slides pager="true" [options]="sliderConfig">
        <ion-slide *ngFor="let item of offVolantino">
          <ion-list>
            <ion-card (click)="intemClicked(item)">
              <ion-img src={{item.imgOfferta}}></ion-img>
              <ion-card-header>
                <ion-card-subtitle>{{getNameNegozio(item)}}</ion-card-subtitle>
                <ion-card-title style="text-transform: capitalize">{{item.breveDescrizione}}</ion-card-title>
              </ion-card-header>
              <ion-card-content>
              </ion-card-content>
            </ion-card>
          </ion-list>
        </ion-slide>
    </ion-slides>
  </div>

  <div>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>
            <ion-icon name="flame-outline" size="large" slot="start"></ion-icon>
            <strong>
              Offerta Bomba
            </strong>
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-slides pager="true" [options]="sliderConfig">
      <ion-slide *ngFor="let item of offBomba">
        <ion-list>
          <ion-card (click)="intemClicked(item)">
            <ion-img src={{item.imgOfferta}}></ion-img>
            <ion-card-header>
              <ion-card-subtitle>{{getNameNegozio(item)}}</ion-card-subtitle>
              <ion-card-title style="text-transform: capitalize">{{item.breveDescrizione}}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
            </ion-card-content>
          </ion-card>
        </ion-list>
      </ion-slide>
    </ion-slides>
  </div>

  <div>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>
            <ion-icon name="flash-outline" size="large" slot="start"></ion-icon>
            <strong>
              Offerta Lampo
            </strong>
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-slides pager="true" [options]="sliderConfig">
      <ion-slide *ngFor="let item of offLampo">
        <ion-list>
          <ion-card (click)="intemClicked(item)">
            <ion-img src={{item.imgOfferta}}></ion-img>
            <ion-card-header>
              <ion-card-subtitle>{{getNameNegozio(item)}}</ion-card-subtitle>
              <ion-card-title style="text-transform: capitalize">{{item.breveDescrizione}}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
            </ion-card-content>
          </ion-card>
        </ion-list>
      </ion-slide>
    </ion-slides>
  </div>

</ion-content>
