<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/profile-client"></ion-back-button>
    </ion-buttons>
    <ion-title>mioWallet</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Last balance update</ion-card-subtitle>
      <ion-card-title>$85,50</ion-card-title>
    </ion-card-header>
  </ion-card>

  <div class="centerButton">
    <ion-button routerLink="/converti-punti">
      Aggiungi
      <ion-icon name="arrow-forward-circle-outline" slot="end"></ion-icon>
    </ion-button>
  </div>

  <ion-item>
    <ion-label>
      Transazioni recenti
    </ion-label>
  </ion-item>


  <ion-card>
    <ion-item>
      <ion-icon name="remove-outline" slot="start" color="danger"></ion-icon>
      <ion-header>
        <ion-label>Acquisto televisione Samsung</ion-label>
        <ion-card-subtitle>Mediaworld</ion-card-subtitle>
      </ion-header>
      <ion-text slot="end" color="danger">-525$</ion-text>
    </ion-item>

    <ion-item>
      <ion-icon name="remove-outline" slot="start" color="danger"></ion-icon>
      <ion-header>
        <ion-label>Acquisto iphone 11</ion-label>
        <ion-card-subtitle>Mediaworld</ion-card-subtitle>
      </ion-header>
      <ion-text slot="end" color="danger">-1125$</ion-text>
    </ion-item>

    <ion-item>
      <ion-icon name="remove-outline" slot="start" color="danger"></ion-icon>
      <ion-header>
        <ion-label>T-shirt</ion-label>
        <ion-card-subtitle>Aw-Lab</ion-card-subtitle>
      </ion-header>
      <ion-text slot="end" color="danger">-525$</ion-text>
    </ion-item>

    <ion-item>
      <ion-icon name="add-outline" slot="start" color="success"></ion-icon>
      <ion-header>
        <ion-label>Caricamento soldi</ion-label>
        <ion-card-subtitle>Ricarica</ion-card-subtitle>
      </ion-header>
      <ion-text slot="end" color="success">500$</ion-text>
    </ion-item>

    <ion-item>
      <ion-icon name="remove-outline" slot="start" color="danger"></ion-icon>
      <ion-header>
        <ion-label>Acquisto iphone 11 pro</ion-label>
        <ion-card-subtitle>Mediaworld</ion-card-subtitle>
      </ion-header>
      <ion-text slot="end" color="danger">-1225$</ion-text>
    </ion-item>

    <ion-item>
      <ion-icon name="add-outline" slot="start" color="success"></ion-icon>
      <ion-header>
        <ion-label>Caricamento soldi</ion-label>
        <ion-card-subtitle>Ricarica</ion-card-subtitle>
      </ion-header>
      <ion-text slot="end" color="success">500$</ion-text>
    </ion-item>

    <ion-item>
      <ion-icon name="add-outline" slot="start" color="success"></ion-icon>
      <ion-header>
        <ion-label>Caricamento soldi</ion-label>
        <ion-card-subtitle>Ricarica</ion-card-subtitle>
      </ion-header>
      <ion-text slot="end" color="success">1000$</ion-text>
    </ion-item>

  </ion-card>

</ion-content>
