<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/profile-client"></ion-back-button>
    </ion-buttons>
    <ion-title>mieiPunti</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Last balance update</ion-card-subtitle>
      <ion-card-title>280 punti</ion-card-title>
    </ion-card-header>
  </ion-card>

  <div class="centerButton">
    <ion-button routerLink="/converti-punti">
      Converti punti
      <ion-icon name="arrow-forward-circle-outline" slot="end"></ion-icon>
    </ion-button>
  </div>

  <ion-item>
    <ion-label>
      Cronologia caricamento
    </ion-label>
  </ion-item>


  <ion-card>
    <ion-item>
      <ion-icon name="add-outline" slot="start" color="success"></ion-icon>
      <ion-header>
        <ion-label>Mediaworld</ion-label>
        <ion-card-subtitle>20 Set</ion-card-subtitle>
      </ion-header>
      <ion-text slot="end" color="success">25 pt.</ion-text>
    </ion-item>

    <ion-item>
      <ion-icon name="add-outline" slot="start" color="success"></ion-icon>
      <ion-header>
        <ion-label>Conad</ion-label>
        <ion-card-subtitle>19 Set</ion-card-subtitle>
      </ion-header>
      <ion-text slot="end" color="success">10 pt.</ion-text>
    </ion-item>

    <ion-item>
      <ion-icon name="add-outline" slot="start" color="success"></ion-icon>
      <ion-header>
        <ion-label>Mediaworld</ion-label>
        <ion-card-subtitle>20 Set</ion-card-subtitle>
      </ion-header>
      <ion-text slot="end" color="success">25 pt.</ion-text>
    </ion-item>

    <ion-item>
      <ion-icon name="add-outline" slot="start" color="success"></ion-icon>
      <ion-header>
        <ion-label>Mediaworld</ion-label>
        <ion-card-subtitle>20 Set</ion-card-subtitle>
      </ion-header>
      <ion-text slot="end" color="success">25 pt.</ion-text>
    </ion-item>

    <ion-item>
      <ion-icon name="remove-outline" slot="start" color="danger"></ion-icon>
      <ion-header>
        <ion-label>Conversione punti</ion-label>
        <ion-card-subtitle>10 Set</ion-card-subtitle>
      </ion-header>
      <ion-text slot="end" color="danger">-50 pt.</ion-text>
    </ion-item>

    <ion-item>
      <ion-icon name="add-outline" slot="start" color="success"></ion-icon>
      <ion-header>
        <ion-label>Mediaworld</ion-label>
        <ion-card-subtitle>20 Set</ion-card-subtitle>
      </ion-header>
      <ion-text slot="end" color="success">25 pt.</ion-text>
    </ion-item>

    <ion-item>
      <ion-icon name="remove-outline" slot="start" color="danger"></ion-icon>
      <ion-header>
        <ion-label>Conversione punti</ion-label>
        <ion-card-subtitle>10 Set</ion-card-subtitle>
      </ion-header>
      <ion-text slot="end" color="danger">-50 pt.</ion-text>
    </ion-item>

    <ion-item>
      <ion-icon name="remove-outline" slot="start" color="danger"></ion-icon>
      <ion-header>
        <ion-label>Conversione punti</ion-label>
        <ion-card-subtitle>10 Set</ion-card-subtitle>
      </ion-header>
      <ion-text slot="end" color="danger">-100 pt.</ion-text>
    </ion-item>

    <ion-item>
      <ion-icon name="add-outline" slot="start" color="success"></ion-icon>
      <ion-header>
        <ion-label>Mediaworld</ion-label>
        <ion-card-subtitle>20 Set</ion-card-subtitle>
      </ion-header>
      <ion-text slot="end" color="success">25 pt.</ion-text>
    </ion-item>

  </ion-card>

  <ion-footer class="fixed">
    <ion-toolbar>
      <app-home></app-home>
    </ion-toolbar>
  </ion-footer>

</ion-content>
