<ion-header class="header-login">
  <app-logo></app-logo>
</ion-header>

<ion-content>

  <div class="container">
    <div class="container-item-top">
      <h1>Create Account</h1>
    </div>
    <div class="container-item-center">
      <ion-item class="row">
        <ion-icon class="icon" name="mail"></ion-icon>
        <ion-input placeholder="Email" type="text"></ion-input>
      </ion-item>

      <ion-item class="row">
        <ion-icon class="icon" name="person"></ion-icon>
        <ion-input placeholder="Username" type="text"></ion-input>
      </ion-item>

      <ion-item class="row">
        <ion-icon class="icon" name="lock-open"></ion-icon>
        <ion-input placeholder="Password" type="password" ></ion-input>
      </ion-item>
    </div>

    <div class="container-item-bottom">
      <ion-button  shape="round" >Sign up</ion-button>
      <ion-item trasparent class="registrazione">
        Already you have an account? <a routerLink="/login">Login </a>
      </ion-item>
    </div>
  </div>

</ion-content>
