<ion-header>
  <ion-toolbar color="mango">
    <ion-title>signup</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <app-logo></app-logo>
  <h1>Create Account</h1>
  <form>
    <ion-list>
      <ion-item>
        <ion-label position="stacked">Email</ion-label>
        <ion-input type="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Username</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Password</ion-label>
        <ion-input type="password"></ion-input>
      </ion-item>


      <ion-item>
       Already you have an account? <a routerLink="/login">Login </a>
      </ion-item>

      <ion-button expand="block" shape="round" >Sign up</ion-button>
    </ion-list>
  </form>
</ion-content>
