<ion-header>
  <ion-toolbar>
    <ion-title>{{negozio.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-header>
      <ion-card-subtitle align="center"><ion-icon name="scan-circle-outline" size="large"></ion-icon></ion-card-subtitle>
      <ion-card-title align="center">Cerca prodotto </ion-card-title>
    </ion-header>

    <ion-card-content>
      <ion-button expand="block" (click)="scan()">Clicca per scansionare</ion-button>
    </ion-card-content>
  </ion-card>
  <div style="text-align: center">
    <ion-label color="danger">
      {{successMessage}} <strong>{{datiLetti}}</strong>
    </ion-label>
  </div>
  <ion-card>
    <ion-card-subtitle align="center">Codice non scansionato?</ion-card-subtitle>
    <ion-input placeholder="Inserisci codice" type="text" [(ngModel)]="codiceProdotto"></ion-input>
    <ion-button expand="block" (click)="inserisciCodice()">Inserisci manualmente codice</ion-button>
  </ion-card>
</ion-content>
