<ion-header>
  <ion-toolbar>
    <ion-title>Paga</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card style="margin-top: 50%">
    <ion-header>
      <ion-card-subtitle align="center"><ion-icon name="scan-circle-outline" size="large"></ion-icon></ion-card-subtitle>
      <ion-button expand="block" (click)="scan()">Clicca per scansionare</ion-button>
    </ion-header>
  </ion-card>

  <ion-item>
    <ion-label color="success" style="text-align: center">
      {{successMessage}}
    </ion-label>
  </ion-item>

</ion-content>
