ion-card {
  background-color: #e7e7e7;
}

ion-card-title{
  color: #e96d30;
}

ion-card-subtitle {
  color: #ffffff;
}

ion-item > ion-label {
  color: #e96d30;
  padding-left: 12px;
  font-size: 20px;
}

