<ion-header>
  <ion-toolbar>
    <ion-title>{{negozio.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="chipTop">
    <ion-chip routerLink="/login">
      <ion-icon name="log-out-outline"></ion-icon>
      <ion-label>Logout</ion-label>
    </ion-chip>
  </div>

  <ion-card>
    <ion-img src={{negozio.src}}></ion-img>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-icon name="pricetags-outline"></ion-icon>
      <ion-label>Offerte</ion-label>
      <ion-button fill="outline" slot="end" routerLink="/crea-offerta">Crea</ion-button>
    </ion-item>
    <ion-card-content>
      Questa è la sezione dove puoi inserire nuove offerte
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-icon name="people-outline"></ion-icon>
      <ion-label>Contatti contagiato</ion-label>
      <ion-button fill="outline" slot="end" routerLink="/lista-contatti">Invia</ion-button>
    </ion-item>
    <ion-card-content>
      Questa è la sezione dove puoi avvisare un cliente che ha avuto un contatto con un presunto contaggiato
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-icon name="receipt-outline"></ion-icon>
      <ion-label>Movimenti negozio</ion-label>
      <ion-button fill="outline" slot="end" routerLink="/scontrino">Visualizza</ion-button>
    </ion-item>
    <ion-card-content>
      Questa è la sezione dove puoi monitorare i movimenti delle persone nel negozio per prevenire assembramenti
    </ion-card-content>
  </ion-card>


</ion-content>
