<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-logo></app-logo>
  <h1>Login</h1>
<form>
  <ion-list>
    <ion-item>
      <ion-label position="stacked">Username</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Password</ion-label>
      <ion-input type="password"></ion-input>
    </ion-item>

    <ion-item>
      <a routerLink="/signup">Create account</a>
    </ion-item>

    <ion-button expand="block" shape="round" >Login</ion-button>
  </ion-list>
</form>
</ion-content>
