<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/client/sale"></ion-back-button>
    </ion-buttons>
    <ion-title>{{data.breveDescrizione}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-img src={{data.imgOfferta}}></ion-img>

  <ion-item>
    <ion-textarea readonly value={{data.descrizione}} rows="5"></ion-textarea>
  </ion-item>
  <ion-item>
    <ion-icon name="calendar-outline"></ion-icon>
    <ion-label>Valido da: <strong>{{data.dataInizio}}</strong> a: <strong>{{data.dataFine}}</strong></ion-label>
  </ion-item>
  <ion-item>
    <ion-icon name="pricetags-outline"></ion-icon>
    <ion-label>Tipo offerta: <strong>{{data.tipo}}</strong></ion-label>
  </ion-item>

  <ion-footer class="fixed">
    <ion-toolbar>
      <app-home></app-home>
    </ion-toolbar>
  </ion-footer>
</ion-content>
