.fixed {
  position: fixed;
  width: 100%;
  bottom: 0px;
}

.legenda{
  text-align: center;
}

.postoParcheggioTopLeft {
  background-color: lightgrey;
  border: 1px solid;
  border-top-left-radius: 15px;
  text-align: center;
  margin-right: 10px;
}

.postoParcheggioTopRight {
  background-color: lightgrey;
  border: 1px solid;
  border-top-right-radius: 15px;
  text-align: center;
  margin-left: 10px;
}

.postoParcheggioBottomLeft {
  background-color: lightgrey;
  border: 1px solid;
  border-bottom-left-radius: 15px;
  text-align: center;
  margin-right: 10px;
}

.postoParcheggioBottomRight {
  background-color: lightgrey;
  border: 1px solid;
  border-bottom-right-radius: 15px;
  text-align: center;
  margin-left: 10px;
}

.postoParcheggioCentraleLeft {
  background-color: lightgrey;
  border: 1px solid;
  text-align: center;
  margin-left: 10px;
}

.postoParcheggioCentraleRight {
  background-color: lightgrey;
  border: 1px solid;
  text-align: center;
  margin-right: 10px;
}

.postoParcheggioLeft {
  background-color: lightgrey;
  border: 1px solid;
  text-align: center;
  margin-right: 10px;
}

.postoParcheggioRight {
  background-color: lightgrey;
  border: 1px solid;
  text-align: center;
  margin-left: 10px;
}

