<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/parcheggio"></ion-back-button>
    </ion-buttons>
    <ion-title> {{ id }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Data</ion-label>
    <ion-datetime disabled="true" displayFormat="DDDD MMM D, YYYY" min="2020" max="2021" value="2020-09-09"></ion-datetime>
  </ion-item>

  <ion-item>
    <ion-label>Ora</ion-label>
    <ion-datetime disabled="true" displayFormat="h:mm A" minuteValues="0,15,30,45" value="12:00"></ion-datetime>
  </ion-item>

  <ion-grid>
    <ion-row>
      <ion-col class="legenda">
        <ion-item>
          <ion-icon name="car-outline" color="success"></ion-icon>
          <ion-label>Libero</ion-label>
        </ion-item>
      </ion-col>
      <ion-col class="legenda">
        <ion-item>
          <ion-icon name="car-outline" color="danger"></ion-icon>
          <ion-label>Occupato</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>


  <!-- mappa parcheggio -->

  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="postoParcheggioTopLeft" (click)="postoLibero('1')">
          <ion-icon name="car-outline" color="success" size="large"></ion-icon>
        </div>
      </ion-col>
      <ion-col>
        <div class="postoParcheggioCentraleLeft" (click)="postoLibero('2')">
          <ion-icon name="car-outline" color="success" size="large"></ion-icon>
        </div>
      </ion-col>
      <ion-col>
        <div class="postoParcheggioCentraleRight" (click)="postoLibero('3')">
          <ion-icon name="car-outline" color="success" size="large"></ion-icon>
        </div>
      </ion-col>
      <ion-col>
        <div class="postoParcheggioTopRight" (click)="postoOccupato()">
          <ion-icon name="car-outline" color="danger" size="large"></ion-icon>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <div class="postoParcheggioLeft" (click)="postoLibero('5')">
          <ion-icon name="car-outline" color="success" size="large"></ion-icon>
        </div>
      </ion-col>
      <ion-col>
        <div class="postoParcheggioCentraleLeft" (click)="postoOccupato()">
          <ion-icon name="car-outline" color="danger" size="large"></ion-icon>
        </div>
      </ion-col>
      <ion-col>
        <div class="postoParcheggioCentraleRight" (click)="postoLibero('7')">
          <ion-icon name="car-outline" color="success" size="large"></ion-icon>
        </div>
      </ion-col>
      <ion-col>
        <div class="postoParcheggioRight" (click)="postoOccupato()">
          <ion-icon name="car-outline" color="danger" size="large"></ion-icon>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <div class="postoParcheggioLeft" (click)="postoOccupato()">
          <ion-icon name="car-outline" color="danger" size="large"></ion-icon>
        </div>
      </ion-col>
      <ion-col>
        <div class="postoParcheggioCentraleLeft" (click)="postoOccupato()">
          <ion-icon name="car-outline" color="danger" size="large"></ion-icon>
        </div>
      </ion-col>
      <ion-col>
        <div class="postoParcheggioCentraleRight" (click)="postoLibero('11')">
          <ion-icon name="car-outline" color="success" size="large"></ion-icon>
        </div>
      </ion-col>
      <ion-col>
        <div class="postoParcheggioRight" (click)="postoLibero('12')">
          <ion-icon name="car-outline" color="success" size="large"></ion-icon>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <div class="postoParcheggioLeft" (click)="postoOccupato()">
          <ion-icon name="car-outline" color="danger" size="large"></ion-icon>
        </div>
      </ion-col>
      <ion-col>
        <div class="postoParcheggioCentraleLeft" (click)="postoLibero('14')">
          <ion-icon name="car-outline" color="success" size="large"></ion-icon>
        </div>
      </ion-col>
      <ion-col>
        <div class="postoParcheggioCentraleRight" (click)="postoLibero('15')">
          <ion-icon name="car-outline" color="success" size="large"></ion-icon>
        </div>
      </ion-col>
      <ion-col>
        <div class="postoParcheggioRight" (click)="postoOccupato()">
          <ion-icon name="car-outline" color="danger" size="large"></ion-icon>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <div class="postoParcheggioLeft" (click)="postoLibero('17')">
          <ion-icon name="car-outline" color="success" size="large"></ion-icon>
        </div>
      </ion-col>
      <ion-col>
        <div class="postoParcheggioCentraleLeft" (click)="postoLibero('18')">
          <ion-icon name="car-outline" color="success" size="large"></ion-icon>
        </div>
      </ion-col>
      <ion-col>
        <div class="postoParcheggioCentraleRight" (click)="postoOccupato()">
          <ion-icon name="car-outline" color="danger" size="large"></ion-icon>
        </div>
      </ion-col>
      <ion-col>
        <div class="postoParcheggioRight" (click)="postoLibero('20')">
          <ion-icon name="car-outline" color="success" size="large"></ion-icon>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <div class="postoParcheggioLeft" (click)="postoOccupato()">
          <ion-icon name="car-outline" color="danger" size="large"></ion-icon>
        </div>
      </ion-col>
      <ion-col>
        <div class="postoParcheggioCentraleLeft" (click)="postoOccupato()">
          <ion-icon name="car-outline" color="danger" size="large"></ion-icon>
        </div>
      </ion-col>
      <ion-col>
        <div class="postoParcheggioCentraleRight" (click)="postoLibero('23')">
          <ion-icon name="car-outline" color="success" size="large"></ion-icon>
        </div>
      </ion-col>
      <ion-col>
        <div class="postoParcheggioRight" (click)="postoLibero('24')">
          <ion-icon name="car-outline" color="success" size="large"></ion-icon>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <div class="postoParcheggioLeft" (click)="postoOccupato()">
          <ion-icon name="car-outline" color="danger" size="large"></ion-icon>
        </div>
      </ion-col>
      <ion-col>
        <div class="postoParcheggioCentraleLeft" (click)="postoLibero('26')">
          <ion-icon name="car-outline" color="success" size="large"></ion-icon>
        </div>
      </ion-col>
      <ion-col>
        <div class="postoParcheggioCentraleRight" (click)="postoOccupato()">
          <ion-icon name="car-outline" color="danger" size="large"></ion-icon>
        </div>
      </ion-col>
      <ion-col>
        <div class="postoParcheggioRight" (click)="postoOccupato()">
          <ion-icon name="car-outline" color="danger" size="large"></ion-icon>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <div class="postoParcheggioLeft" (click)="postoLibero('29')">
          <ion-icon name="car-outline" color="success" size="large"></ion-icon>
        </div>
      </ion-col>
      <ion-col>
        <div class="postoParcheggioCentraleLeft" (click)="postoLibero('30')">
          <ion-icon name="car-outline" color="success" size="large"></ion-icon>
        </div>
      </ion-col>
      <ion-col>
        <div class="postoParcheggioCentraleRight" (click)="postoLibero('31')">
          <ion-icon name="car-outline" color="success" size="large"></ion-icon>
        </div>
      </ion-col>
      <ion-col>
        <div class="postoParcheggioRight" (click)="postoOccupato()">
          <ion-icon name="car-outline" color="danger" size="large"></ion-icon>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <div class="postoParcheggioLeft" (click)="postoOccupato()">
          <ion-icon name="car-outline" color="danger" size="large"></ion-icon>
        </div>
      </ion-col>
      <ion-col>
        <div class="postoParcheggioCentraleLeft" (click)="postoLibero('34')">
          <ion-icon name="car-outline" color="success" size="large"></ion-icon>
        </div>
      </ion-col>
      <ion-col>
        <div class="postoParcheggioCentraleRight" (click)="postoLibero('35')">
          <ion-icon name="car-outline" color="success" size="large"></ion-icon>
        </div>
      </ion-col>
      <ion-col>
        <div class="postoParcheggioRight" (click)="postoLibero('36')">
          <ion-icon name="car-outline" color="success" size="large"></ion-icon>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <div class="postoParcheggioBottomLeft" (click)="postoLibero('37')">
          <ion-icon name="car-outline" color="success" size="large"></ion-icon>
        </div>
      </ion-col>
      <ion-col>
        <div class="postoParcheggioCentraleLeft" (click)="postoOccupato()">
          <ion-icon name="car-outline" color="danger" size="large"></ion-icon>
        </div>
      </ion-col>
      <ion-col>
        <div class="postoParcheggioCentraleRight" (click)="postoLibero('39')">
          <ion-icon name="car-outline" color="success" size="large"></ion-icon>
        </div>
      </ion-col>
      <ion-col>
        <div class="postoParcheggioBottomRight" (click)="postoOccupato()">
          <ion-icon name="car-outline" color="danger" size="large"></ion-icon>
        </div>
      </ion-col>
    </ion-row>


  </ion-grid>





  <ion-footer class="fixed">
    <ion-toolbar>
      <app-home></app-home>
    </ion-toolbar>
  </ion-footer>
</ion-content>
