.image {
  background-image: url("../../../assets/images/mappa-parcheggio.png");
  background-position:center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  height: 100%;
}

.zonaPosti{
  text-align: end;
  color: #989aa2;
}

.fixed {
  position: fixed;
  width: 100%;
  bottom: 0px;
}
