<ion-header>
  <ion-toolbar>
    <ion-title>parcheggio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label color="primary">
      Prenota il tuo posto
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-label>DDDD MMM D, YYYY</ion-label>
    <ion-datetime displayFormat="DDDD MMM D, YYYY" min="2005" max="2016" value="2008-09-02"></ion-datetime>
  </ion-item>

  <ion-item>
    <ion-label>hh:mm A</ion-label>
    <ion-datetime displayFormat="h:mm A" minuteValues="0,15,30,45"></ion-datetime>
  </ion-item>

  <ion-scroll maxZoom="2" zoom="true" scrollY="true" style="width: 100%; height: 100%">
    <div class="map-div"></div>
  </ion-scroll>

  <app-home></app-home>
</ion-content>
