<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/client"></ion-back-button>
    </ion-buttons>
    <ion-title> Prenota il tuo posto </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-item>
    <ion-label>Data</ion-label>
    <ion-datetime displayFormat="DDDD MMM D, YYYY" min="2020" max="2021" value="2020-09-09"></ion-datetime>
  </ion-item>

  <ion-item>
    <ion-label>Ora</ion-label>
    <ion-datetime displayFormat="h:mm A" minuteValues="0,15,30,45" value="12:00"></ion-datetime>
  </ion-item>

  <ion-slides [options]="sliderOpts" zoom="" style="height: 350px">
    <ion-slide >
      <div class="swiper-zoom-container">
        <img src="../../../assets/images/mappa-parcheggio.png">
      </div>
    </ion-slide>
  </ion-slides>


  <ion-list>
    <ion-item routerLink="/posto/ZONA A">
      <ion-icon name="car-outline" color="warning"></ion-icon>
      <ion-label>Zona A</ion-label>
      <ion-label class="zonaPosti">Posti: 30/50</ion-label>
    </ion-item>
    <ion-item routerLink="/posto/ZONA B">
      <ion-icon name="car-outline" color="success"></ion-icon>
      <ion-label>Zona B</ion-label>
      <ion-label class="zonaPosti">Posti: 10/50</ion-label>
    </ion-item>
    <ion-item (click)="presentAlert()">
      <ion-icon name="car-outline" color="danger"></ion-icon>
      <ion-label>Zona C</ion-label>
      <ion-label class="zonaPosti">Posti: 50/50</ion-label>
    </ion-item>
    <ion-item routerLink="/posto/ZONA D">
      <ion-icon name="car-outline" color="success"></ion-icon>
      <ion-label>Zona D</ion-label>
      <ion-label class="zonaPosti">Posti: 42/50</ion-label>
    </ion-item>
    <ion-item routerLink="/posto/ZONA E">
    <ion-icon name="car-outline" color="warning"></ion-icon>
    <ion-label>Zona E</ion-label>
    <ion-label class="zonaPosti">Posti: 36/50</ion-label>
    </ion-item>
  </ion-list>


  <ion-footer class="fixed">
    <ion-toolbar>
      <app-home></app-home>
    </ion-toolbar>
  </ion-footer>

</ion-content>
