<ion-header>
  <ion-toolbar>

    <ion-title>{{negozio.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-toolbar>
    <ion-searchbar (ionInput)="FilterJSONData($event)"></ion-searchbar>
  </ion-toolbar>
  <ion-list>
    <ion-card *ngFor="let item of negozio.prodotti;" (click)="intemClicked(item)">
      <ion-img src={{item.srcPro}}></ion-img>
      <ion-card-header>
        <ion-card-title>{{item.nameProdotto}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Prezzo: {{item.prezzo}} $
      </ion-card-content>
    </ion-card>
  </ion-list>

</ion-content>
