<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Scaffale {{id}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-img src="../../../assets/images/videocamera.jpg">
  </ion-img>

  <ion-item>
    <ion-icon name="document-text"></ion-icon>
    <ion-label>Descrizione: </ion-label>
  </ion-item>
  <ion-item>
    <ion-textarea readonly value={{descr}} rows="5">
    </ion-textarea>
  </ion-item>


  <ion-footer class="fixed">
    <ion-toolbar>
      <app-home-commerciante></app-home-commerciante>
    </ion-toolbar>
  </ion-footer>

</ion-content>
