<ion-toolbar>
  <ion-buttons slot="start">
    <ion-back-button defaultHref="/client"></ion-back-button>
  </ion-buttons>
  <ion-title>Lista prodotti</ion-title>
</ion-toolbar>


 <ion-content>
     <ion-toolbar>
         <ion-searchbar (ionInput)="FilterJSONData($event)"></ion-searchbar>
     </ion-toolbar>
    <ion-list>
      <ion-card *ngFor="let item of prod"(click)="intemClicked(item)">
        <ion-img src={{item.srcPro}}></ion-img>
        <ion-card-header>
          <ion-card-title>{{item.nameProdotto}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
        </ion-card-content>
      </ion-card>
    </ion-list>
  </ion-content>

