<ion-header>
  <ion-toolbar>
    <ion-title>video-commerciante</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <h6 style="text-align: center">
    Il colore indica il livello di assembramento in tale zona
  </h6>

  <ion-grid>
    <ion-row>
      <ion-col class="legenda">
        <ion-item>
          <ion-icon name="people-outline" color="success"></ion-icon>
          <ion-label>Basso</ion-label>
        </ion-item>
      </ion-col>
      <ion-col class="legenda">
        <ion-item>
          <ion-icon name="people-outline" color="warning"></ion-icon>
          <ion-label>Medio</ion-label>
        </ion-item>
      </ion-col>
      <ion-col class="legenda">
        <ion-item>
          <ion-icon name="people-outline" color="danger"></ion-icon>
          <ion-label>Alto</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>


  <!-- mappa negozio -->

  <ion-grid>
    <!-- blocco 1 ************************************************************************************************************************-->

    <ion-row>
      <ion-col>

      </ion-col>
      <ion-col>
        <div class="colonna2 colonna">
          <ion-badge item-end color="success">
            A1
          </ion-badge>
        </div>
      </ion-col>
      <ion-col>
        <div class="colonna3 colonna">
          <ion-badge item-end color="success">
            A2
          </ion-badge>
        </div>
      </ion-col>
      <ion-col>
        <div class="colonna4 colonna">
          <ion-badge item-end color="warning">
            A3
          </ion-badge>
        </div>
      </ion-col>
      <ion-col>
        <div class="colonna5 colonna">
          <ion-badge item-end color="success">
            A4
          </ion-badge>
        </div>
      </ion-col>
      <ion-col>
        <div class="colonna6 colonna">
          <ion-badge item-end color="danger">
            A5
          </ion-badge>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>

      </ion-col>
      <ion-col>
        <div class="colonna2 colonna">
          <ion-badge item-end color="success">
            B1
          </ion-badge>
        </div>
      </ion-col>
      <ion-col>
        <div class="colonna3 colonna">
          <ion-badge item-end color="warning">
            B2
          </ion-badge>
        </div>
      </ion-col>
      <ion-col>
        <div class="colonna4 colonna">
          <ion-badge item-end color="success">
            B3
          </ion-badge>
        </div>
      </ion-col>
      <ion-col>
        <div class="colonna5 colonna">
          <ion-badge item-end color="danger">
            B4
          </ion-badge>
        </div>
      </ion-col>
      <ion-col>
        <div class="colonna6 colonna">
          <ion-badge item-end color="danger">
            B5
          </ion-badge>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <div class="colonna1 colonna">
          <ion-badge item-end color="danger">
            C0
          </ion-badge>
        </div>
      </ion-col>
      <ion-col>
        <div class="colonna2 colonna">
          <ion-badge item-end color="success">
            C1
          </ion-badge>
        </div>
      </ion-col>
      <ion-col>
        <div class="colonna3 colonna">
          <ion-badge item-end color="success">
            C2
          </ion-badge>
        </div>
      </ion-col>
      <ion-col>
        <div class="colonna4 colonna">
          <ion-badge item-end color="warning">
            C3
          </ion-badge>
        </div>
      </ion-col>
      <ion-col>
        <div class="colonna5 colonna">
          <ion-badge item-end color="warning">
            C4
          </ion-badge>
        </div>
      </ion-col>
      <ion-col>
        <div class="colonna6 colonna">
          <ion-badge item-end color="success">
            C5
          </ion-badge>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <div class="colonnaFreccia">
          <ion-icon name="enter" size="large"></ion-icon>
        </div>
      </ion-col>
      <ion-col>
        <div class="colonnaFreccia">
          <ion-icon name="arrow-forward">

          </ion-icon>
        </div>
      </ion-col>
      <ion-col>
        <div class="colonnaFreccia">
          <ion-icon name="arrow-forward">

          </ion-icon>
        </div>
      </ion-col>
    </ion-row>

    <!-- blocco 2 ************************************************************************************************************************-->

    <ion-row>
      <ion-col>
        <div class="colonna1 colonna">
          <ion-badge item-end color="warning">
            D0
          </ion-badge>
        </div>
      </ion-col>
      <ion-col>
        <div class="colonna2 colonna">
          <ion-badge item-end color="success">
            D1
          </ion-badge>
        </div>
      </ion-col>
      <ion-col>
        <div class="colonna3 colonna">
          <ion-badge item-end color="warning">
            D2
          </ion-badge>
        </div>
      </ion-col>
      <ion-col>
        <div class="colonna4 colonna">
          <ion-badge item-end color="warning">
            D3
          </ion-badge>
        </div>
      </ion-col>
      <ion-col>
        <div class="colonna5 colonna">
          <ion-badge item-end color="warning">
            D4
          </ion-badge>
        </div>
      </ion-col>
      <ion-col>
        <div class="colonna6 colonna">
          <ion-badge item-end color="danger">
            D5
          </ion-badge>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <div class="colonna1 colonna">
          <ion-badge item-end color="success">
            E0
          </ion-badge>
        </div>
      </ion-col>
      <ion-col>
        <div class="colonna2 colonna">
          <ion-badge item-end color="warning">
            E1
          </ion-badge>
        </div>
      </ion-col>
      <ion-col>
        <div class="colonna3 colonna">
          <ion-badge item-end color="success">
            E2
          </ion-badge>
        </div>
      </ion-col>
      <ion-col>
        <div class="colonna4 colonna">
          <ion-badge item-end color="warning">
            E3
          </ion-badge>
        </div>
      </ion-col>
      <ion-col>

      </ion-col>
      <ion-col>

      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <div class="colonna1 colonna">
          <ion-badge item-end color="success">
            F0
          </ion-badge>
        </div>
      </ion-col>
      <ion-col>
        <div class="colonna2 colonna">
          <ion-badge item-end color="warning">
            F1
          </ion-badge>
        </div>
      </ion-col>
      <ion-col>
        <div class="colonna3 colonna">
          <ion-badge item-end color="success">
            F2
          </ion-badge>
        </div>
      </ion-col>
      <ion-col>
        <div class="colonna4 colonna">
          <ion-badge item-end color="warning">
            F3
          </ion-badge>
        </div>
      </ion-col>
      <ion-col>

      </ion-col>
      <ion-col>

      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <div class="colonnaFreccia">
        </div>
      </ion-col>
      <ion-col>
        <div class="colonnaFreccia">
        </div>
      </ion-col>
      <ion-col>
        <div class="colonnaFreccia">
          <ion-icon src="../../../assets/icon/checkout.svg" size="large"></ion-icon>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <div class="colonna1 colonna">
          <ion-badge item-end color="warning">
            G0
          </ion-badge>
        </div>
      </ion-col>
      <ion-col>
        <div class="colonna2 colonna">
          <ion-badge item-end color="success">
            G1
          </ion-badge>
        </div>
      </ion-col>
      <ion-col>
        <div class="colonna3 colonna">
          <ion-badge item-end color="success">
            G2
          </ion-badge>
        </div>
      </ion-col>
      <ion-col>
        <div class="colonna4 colonna">
          <ion-badge item-end color="warning">
            G3
          </ion-badge>
        </div>
      </ion-col>
      <ion-col>

      </ion-col>
      <ion-col>

      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <div class="colonna1 colonna">
          <ion-badge item-end color="warning">
            H0
          </ion-badge>
        </div>
      </ion-col>
      <ion-col>
        <div class="colonna2 colonna">
          <ion-badge item-end color="success">
            H1
          </ion-badge>
        </div>
      </ion-col>
      <ion-col>
        <div class="colonna3 colonna">
          <ion-badge item-end color="warning">
            H2
          </ion-badge>
        </div>
      </ion-col>
      <ion-col>
        <div class="colonna4 colonna">
          <ion-badge item-end color="warning">
            H3
          </ion-badge>
        </div>
      </ion-col>
      <ion-col>

      </ion-col>
      <ion-col>

      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <div class="colonna1 colonna">
          <ion-badge item-end color="warning">
            I0
          </ion-badge>
        </div>
      </ion-col>
      <ion-col>
        <div class="colonna2 colonna">
          <ion-badge item-end color="success">
            I1
          </ion-badge>
        </div>
      </ion-col>
      <ion-col>
        <div class="colonna3 colonna">
          <ion-badge item-end color="success">
            I2
          </ion-badge>
        </div>
      </ion-col>
      <ion-col>
        <div class="colonna4 colonna">
          <ion-badge item-end color="warning">
            I3
          </ion-badge>
        </div>
      </ion-col>
      <ion-col>
        <div class="colonna5 colonna">
          <ion-badge item-end color="warning">
            I4
          </ion-badge>
        </div>
      </ion-col>
      <ion-col>
        <div class="colonna6 colonna">
          <ion-badge item-end color="warning">
            I5
          </ion-badge>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <div class="colonnaFreccia">
          <ion-icon name="exit" size="large"></ion-icon>
        </div>
      </ion-col>
      <ion-col>
        <div class="colonnaFreccia">
          <ion-icon name="arrow-back">

          </ion-icon>
        </div>
      </ion-col>
      <ion-col>
        <div class="colonnaFreccia">
          <ion-icon name="arrow-back">

          </ion-icon>
        </div>
      </ion-col>
    </ion-row>

    <!-- blocco 3 ************************************************************************************************************************-->

    <ion-row>
      <ion-col>
        <div class="colonna1 colonna">
          <ion-badge item-end color="warning">
            L0
          </ion-badge>
        </div>
      </ion-col>
      <ion-col>
        <div class="colonna2 colonna">
          <ion-badge item-end color="warning">
            L1
          </ion-badge>
        </div>
      </ion-col>
      <ion-col>
        <div class="colonna3 colonna">
          <ion-badge item-end color="success">
            L2
          </ion-badge>
        </div>
      </ion-col>
      <ion-col>
        <div class="colonna4 colonna">
          <ion-badge item-end color="warning">
            L3
          </ion-badge>
        </div>
      </ion-col>
      <ion-col>
        <div class="colonna5 colonna">
          <ion-badge item-end color="success">
            L4
          </ion-badge>
        </div>
      </ion-col>
      <ion-col>
        <div class="colonna6 colonna">
          <ion-badge item-end color="danger">
            L5
          </ion-badge>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>

      </ion-col>
      <ion-col>
        <div class="colonna2 colonna">
          <ion-badge item-end color="warning">
            M1
          </ion-badge>
        </div>
      </ion-col>
      <ion-col>
        <div class="colonna3 colonna">
          <ion-badge item-end color="success">
            M2
          </ion-badge>
        </div>
      </ion-col>
      <ion-col>
        <div class="colonna4 colonna">
          <ion-badge item-end color="warning">
            M3
          </ion-badge>
        </div>
      </ion-col>
      <ion-col>
        <div class="colonna5 colonna">
          <ion-badge item-end color="warning">
            M4
          </ion-badge>
        </div>
      </ion-col>
      <ion-col>
        <div class="colonna6 colonna">
          <ion-badge item-end color="warning">
            M5
          </ion-badge>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>

      </ion-col>
      <ion-col>
        <div class="colonna2 colonna">
          <ion-badge item-end color="success">
            N1
          </ion-badge>
        </div>
      </ion-col>
      <ion-col>
        <div class="colonna3 colonna">
          <ion-badge item-end color="success">
            N2
          </ion-badge>
        </div>
      </ion-col>
      <ion-col>
        <div class="colonna4 colonna">
          <ion-badge item-end color="warning">
            N3
          </ion-badge>
        </div>
      </ion-col>
      <ion-col>
        <div class="colonna5 colonna">
          <ion-badge item-end color="warning">
            N4
          </ion-badge>
        </div>
      </ion-col>
      <ion-col>
        <div class="colonna6 colonna">
          <ion-badge item-end color="danger">
            N5
          </ion-badge>
        </div>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>
