<ion-header>
  <ion-toolbar>
    <ion-title>Videocamere</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <h6 style="text-align: center">
    Il colore indica il livello di assembramento in tale zona
  </h6>

  <ion-grid>
    <ion-row>
      <ion-col class="legenda">
        <ion-item>
          <ion-icon name="people-outline" color="success"></ion-icon>
          <ion-label>Basso</ion-label>
        </ion-item>
      </ion-col>
      <ion-col class="legenda">
        <ion-item>
          <ion-icon name="people-outline" color="warning"></ion-icon>
          <ion-label>Medio</ion-label>
        </ion-item>
      </ion-col>
      <ion-col class="legenda">
        <ion-item>
          <ion-icon name="people-outline" color="danger"></ion-icon>
          <ion-label>Alto</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>


  <!-- mappa negozio -->

  <ion-grid>
    <!-- blocco 1 ************************************************************************************************************************-->

    <ion-row>
      <ion-col>

      </ion-col>
      <ion-col>
        <div class="colonna2 colonna" routerLink="/detail-videocamera/A1/verde">
          <ion-badge item-end color="success">
            A1
          </ion-badge>
        </div>
      </ion-col>
      <ion-col>
        <div class="colonna3 colonna" routerLink="/detail-videocamera/A2/verde">
          <ion-badge item-end color="success">
            A2
          </ion-badge>
        </div>
      </ion-col>
      <ion-col>
        <div class="colonna4 colonna" routerLink="/detail-videocamera/A3/giallo">
          <ion-badge item-end color="warning">
            A3
          </ion-badge>
        </div>
      </ion-col>
      <ion-col>
        <div class="colonna5 colonna" routerLink="/detail-videocamera/A4/verde">
          <ion-badge item-end color="success">
            A4
          </ion-badge>
        </div>
      </ion-col>
      <ion-col>
        <div class="colonna6 colonna" routerLink="/detail-videocamera/A5/rosso">
          <ion-badge item-end color="danger">
            A5
          </ion-badge>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>

      </ion-col>
      <ion-col>
        <div class="colonna2 colonna" routerLink="/detail-videocamera/B1/verde">
          <ion-badge item-end color="success">
            B1
          </ion-badge>
        </div>
      </ion-col>
      <ion-col>
        <div class="colonna3 colonna" routerLink="/detail-videocamera/B2/giallo">
          <ion-badge item-end color="warning">
            B2
          </ion-badge>
        </div>
      </ion-col>
      <ion-col>
        <div class="colonna4 colonna" routerLink="/detail-videocamera/B3/verde">
          <ion-badge item-end color="success">
            B3
          </ion-badge>
        </div>
      </ion-col>
      <ion-col>
        <div class="colonna5 colonna" routerLink="/detail-videocamera/B4/rosso">
          <ion-badge item-end color="danger">
            B4
          </ion-badge>
        </div>
      </ion-col>
      <ion-col>
        <div class="colonna6 colonna" routerLink="/detail-videocamera/B5/rosso">
          <ion-badge item-end color="danger">
            B5
          </ion-badge>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <div class="colonna1 colonna" routerLink="/detail-videocamera/C0/rosso">
          <ion-badge item-end color="danger">
            C0
          </ion-badge>
        </div>
      </ion-col>
      <ion-col>
        <div class="colonna2 colonna" routerLink="/detail-videocamera/C1/verde">
          <ion-badge item-end color="success">
            C1
          </ion-badge>
        </div>
      </ion-col>
      <ion-col>
        <div class="colonna3 colonna" routerLink="/detail-videocamera/C2/verde">
          <ion-badge item-end color="success">
            C2
          </ion-badge>
        </div>
      </ion-col>
      <ion-col>
        <div class="colonna4 colonna" routerLink="/detail-videocamera/C3/rosso">
          <ion-badge item-end color="warning">
            C3
          </ion-badge>
        </div>
      </ion-col>
      <ion-col>
        <div class="colonna5 colonna" routerLink="/detail-videocamera/C4/gialla">
          <ion-badge item-end color="warning">
            C4
          </ion-badge>
        </div>
      </ion-col>
      <ion-col>
        <div class="colonna6 colonna" routerLink="/detail-videocamera/C5/verde">
          <ion-badge item-end color="success">
            C5
          </ion-badge>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <div class="colonnaFreccia">
          <ion-icon name="enter" size="large"></ion-icon>
        </div>
      </ion-col>
      <ion-col>
        <div class="colonnaFreccia">
          <ion-icon name="arrow-forward">

          </ion-icon>
        </div>
      </ion-col>
      <ion-col>
        <div class="colonnaFreccia">
          <ion-icon name="arrow-forward">

          </ion-icon>
        </div>
      </ion-col>
    </ion-row>

    <!-- blocco 2 ************************************************************************************************************************-->

    <ion-row>
      <ion-col>
        <div class="colonna1 colonna" routerLink="/detail-videocamera/D0/giallo">
          <ion-badge item-end color="warning">
            D0
          </ion-badge>
        </div>
      </ion-col>
      <ion-col>
        <div class="colonna2 colonna" routerLink="/detail-videocamera/D1/verde">
          <ion-badge item-end color="success">
            D1
          </ion-badge>
        </div>
      </ion-col>
      <ion-col>
        <div class="colonna3 colonna" routerLink="/detail-videocamera/D2/giallo">
          <ion-badge item-end color="warning">
            D2
          </ion-badge>
        </div>
      </ion-col>
      <ion-col>
        <div class="colonna4 colonna" routerLink="/detail-videocamera/D3/giallo">
          <ion-badge item-end color="warning">
            D3
          </ion-badge>
        </div>
      </ion-col>
      <ion-col>
        <div class="colonna5 colonna" routerLink="/detail-videocamera/D4/giallo">
          <ion-badge item-end color="warning">
            D4
          </ion-badge>
        </div>
      </ion-col>
      <ion-col>
        <div class="colonna6 colonna" routerLink="/detail-videocamera/D5/rosso">
          <ion-badge item-end color="danger">
            D5
          </ion-badge>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <div class="colonna1 colonna" routerLink="/detail-videocamera/E0/verde">
          <ion-badge item-end color="success">
            E0
          </ion-badge>
        </div>
      </ion-col>
      <ion-col>
        <div class="colonna2 colonna" routerLink="/detail-videocamera/E1/giallo">
          <ion-badge item-end color="warning">
            E1
          </ion-badge>
        </div>
      </ion-col>
      <ion-col>
        <div class="colonna3 colonna" routerLink="/detail-videocamera/E2/verde">
          <ion-badge item-end color="success">
            E2
          </ion-badge>
        </div>
      </ion-col>
      <ion-col>
        <div class="colonna4 colonna" routerLink="/detail-videocamera/E3/giallo">
          <ion-badge item-end color="warning">
            E3
          </ion-badge>
        </div>
      </ion-col>
      <ion-col>

      </ion-col>
      <ion-col>

      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <div class="colonna1 colonna" routerLink="/detail-videocamera/F0/verde">
          <ion-badge item-end color="success">
            F0
          </ion-badge>
        </div>
      </ion-col>
      <ion-col>
        <div class="colonna2 colonna" routerLink="/detail-videocamera/F1/giallo">
          <ion-badge item-end color="warning">
            F1
          </ion-badge>
        </div>
      </ion-col>
      <ion-col>
        <div class="colonna3 colonna" routerLink="/detail-videocamera/F2/verde">
          <ion-badge item-end color="success">
            F2
          </ion-badge>
        </div>
      </ion-col>
      <ion-col>
        <div class="colonna4 colonna" routerLink="/detail-videocamera/F3/giallo">
          <ion-badge item-end color="warning">
            F3
          </ion-badge>
        </div>
      </ion-col>
      <ion-col>

      </ion-col>
      <ion-col>

      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <div class="colonnaFreccia">
        </div>
      </ion-col>
      <ion-col>
        <div class="colonnaFreccia">
        </div>
      </ion-col>
      <ion-col>
        <div class="colonnaFreccia">
          <ion-icon src="../../../assets/icon/checkout.svg" size="large"></ion-icon>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <div class="colonna1 colonna" routerLink="/detail-videocamera/G0/giallo">
          <ion-badge item-end color="warning">
            G0
          </ion-badge>
        </div>
      </ion-col>
      <ion-col>
        <div class="colonna2 colonna" routerLink="/detail-videocamera/G1/verde">
          <ion-badge item-end color="success">
            G1
          </ion-badge>
        </div>
      </ion-col>
      <ion-col>
        <div class="colonna3 colonna" routerLink="/detail-videocamera/G2/verde">
          <ion-badge item-end color="success">
            G2
          </ion-badge>
        </div>
      </ion-col>
      <ion-col>
        <div class="colonna4 colonna" routerLink="/detail-videocamera/G3/giallo">
          <ion-badge item-end color="warning">
            G3
          </ion-badge>
        </div>
      </ion-col>
      <ion-col>

      </ion-col>
      <ion-col>

      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <div class="colonna1 colonna" routerLink="/detail-videocamera/H0/giallo">
          <ion-badge item-end color="warning">
            H0
          </ion-badge>
        </div>
      </ion-col>
      <ion-col>
        <div class="colonna2 colonna" routerLink="/detail-videocamera/H1/verde">
          <ion-badge item-end color="success">
            H1
          </ion-badge>
        </div>
      </ion-col>
      <ion-col>
        <div class="colonna3 colonna" routerLink="/detail-videocamera/H2/giallo">
          <ion-badge item-end color="warning">
            H2
          </ion-badge>
        </div>
      </ion-col>
      <ion-col>
        <div class="colonna4 colonna" routerLink="/detail-videocamera/H3/giallo">
          <ion-badge item-end color="warning">
            H3
          </ion-badge>
        </div>
      </ion-col>
      <ion-col>

      </ion-col>
      <ion-col>

      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <div class="colonna1 colonna" routerLink="/detail-videocamera/I0/giallo">
          <ion-badge item-end color="warning">
            I0
          </ion-badge>
        </div>
      </ion-col>
      <ion-col>
        <div class="colonna2 colonna" routerLink="/detail-videocamera/I1/verde">
          <ion-badge item-end color="success">
            I1
          </ion-badge>
        </div>
      </ion-col>
      <ion-col>
        <div class="colonna3 colonna" routerLink="/detail-videocamera/I2/verde">
          <ion-badge item-end color="success">
            I2
          </ion-badge>
        </div>
      </ion-col>
      <ion-col>
        <div class="colonna4 colonna" routerLink="/detail-videocamera/I3/giallo">
          <ion-badge item-end color="warning">
            I3
          </ion-badge>
        </div>
      </ion-col>
      <ion-col>
        <div class="colonna5 colonna" routerLink="/detail-videocamera/I4/giallo">
          <ion-badge item-end color="warning">
            I4
          </ion-badge>
        </div>
      </ion-col>
      <ion-col>
        <div class="colonna6 colonna" routerLink="/detail-videocamera/I5/giallo">
          <ion-badge item-end color="warning">
            I5
          </ion-badge>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <div class="colonnaFreccia">
          <ion-icon name="exit" size="large"></ion-icon>
        </div>
      </ion-col>
      <ion-col>
        <div class="colonnaFreccia">
          <ion-icon name="arrow-back">

          </ion-icon>
        </div>
      </ion-col>
      <ion-col>
        <div class="colonnaFreccia">
          <ion-icon name="arrow-back">

          </ion-icon>
        </div>
      </ion-col>
    </ion-row>

    <!-- blocco 3 ************************************************************************************************************************-->

    <ion-row>
      <ion-col>
        <div class="colonna1 colonna" routerLink="/detail-videocamera/L0/giallo">
          <ion-badge item-end color="warning">
            L0
          </ion-badge>
        </div>
      </ion-col>
      <ion-col>
        <div class="colonna2 colonna" routerLink="/detail-videocamera/L1/rosso">
          <ion-badge item-end color="warning">
            L1
          </ion-badge>
        </div>
      </ion-col>
      <ion-col>
        <div class="colonna3 colonna" routerLink="/detail-videocamera/L2/verde">
          <ion-badge item-end color="success">
            L2
          </ion-badge>
        </div>
      </ion-col>
      <ion-col>
        <div class="colonna4 colonna" routerLink="/detail-videocamera/L3/giallo">
          <ion-badge item-end color="warning">
            L3
          </ion-badge>
        </div>
      </ion-col>
      <ion-col>
        <div class="colonna5 colonna" routerLink="/detail-videocamera/L4/verde">
          <ion-badge item-end color="success">
            L4
          </ion-badge>
        </div>
      </ion-col>
      <ion-col>
        <div class="colonna6 colonna" routerLink="/detail-videocamera/L5/rosso">
          <ion-badge item-end color="danger">
            L5
          </ion-badge>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>

      </ion-col>
      <ion-col>
        <div class="colonna2 colonna" routerLink="/detail-videocamera/M1/giallo">
          <ion-badge item-end color="warning">
            M1
          </ion-badge>
        </div>
      </ion-col>
      <ion-col>
        <div class="colonna3 colonna" routerLink="/detail-videocamera/M2/verde">
          <ion-badge item-end color="success">
            M2
          </ion-badge>
        </div>
      </ion-col>
      <ion-col>
        <div class="colonna4 colonna" routerLink="/detail-videocamera/M3/giallo">
          <ion-badge item-end color="warning">
            M3
          </ion-badge>
        </div>
      </ion-col>
      <ion-col>
        <div class="colonna5 colonna" routerLink="/detail-videocamera/M4/giallo">
          <ion-badge item-end color="warning">
            M4
          </ion-badge>
        </div>
      </ion-col>
      <ion-col>
        <div class="colonna6 colonna" routerLink="/detail-videocamera/M5/giallo">
          <ion-badge item-end color="warning">
            M5
          </ion-badge>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>

      </ion-col>
      <ion-col>
        <div class="colonna2 colonna" routerLink="/detail-videocamera/N1/verde">
          <ion-badge item-end color="success">
            N1
          </ion-badge>
        </div>
      </ion-col>
      <ion-col>
        <div class="colonna3 colonna" routerLink="/detail-videocamera/N2/verde">
          <ion-badge item-end color="success">
            N2
          </ion-badge>
        </div>
      </ion-col>
      <ion-col>
        <div class="colonna4 colonna" routerLink="/detail-videocamera/N3/giallo">
          <ion-badge item-end color="warning">
            N3
          </ion-badge>
        </div>
      </ion-col>
      <ion-col>
        <div class="colonna5 colonna" routerLink="/detail-videocamera/N4/giallo">
          <ion-badge item-end color="warning">
            N4
          </ion-badge>
        </div>
      </ion-col>
      <ion-col>
        <div class="colonna6 colonna" routerLink="/detail-videocamera/N5/rosso">
          <ion-badge item-end color="danger">
            N5
          </ion-badge>
        </div>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>
